@use 'sass:math';
@use '../variables' as *;

.hero-section{
    padding: 0!important;
    max-height: 783px;
    height: 783px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hero-content{
    margin: 0 auto;
    padding: 0 60px;
    max-width: 1340px;
    max-height: 570px;
    width: 100%;

    .info-hero{
        display: flex;
        flex-direction: column;
        gap:52px;
    }
}


.hero-clinik{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    text-transform: uppercase;
    *{
        font-size: 16px;
    }
}
.this-titles{
    display: flex;
    flex-direction: column;

    .title{
        font-weight: 300;
        font-size: 56px;
        line-height: 1.2em;
        text-wrap:balance;
    }

    .sub-title{
        margin-top: 15px;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5em;
        text-wrap: balance;
    }
}

.hero-titles{
    display: flex;
    flex-direction: column;
    gap:52px;
}


.customer-photos{
    display: flex;
    flex-wrap: wrap;
    max-width: 80px;
    width: 80px;
    img {
        width: 32px;
        height: 32px;
        margin-left: 0;
    }
    img:nth-child(n+4){
        margin-top:-8px;
    }
    img:nth-child(3n+2),
    img:nth-child(3n+3) {
        margin-left: -8px;
    }
}




.benefit-block{
    display: flex;
    flex-direction: column;

    .benefit-number{
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2em;
        &.plus::after{
            content: '+';
        }
    }
    .card-text{
        font-weight: 400;
        font-size: 14px;
        text-wrap: nowrap;
    }
}

.our-clients{
    display: flex;
    align-items: center;
    gap: 20px;
}
.our-experience{
    display: flex;
    align-items: center;
    gap: 52px;
}
.our-staff{
    display: flex;
    align-items: center;
    gap: 52px;
}


.place-for-btn-and-svg{
    position: relative;
    width: 100%;
    .face-svg{
        font-size: 0;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -70px;
    }
}




@media (max-width: 1340px) {
    .this-titles{
        .title{
            font-size: 32px;
        }
    }

}
@media (max-width: 1024px) {
    .hero-content{
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .hero-section{
        max-height: 580px;
    }

    .this-titles{
        .sub-title{
            display: none;
        }
    }
}

//end  styled

.hero-content {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 50px 1fr;
    gap: 50px;
    grid-template-areas: 
        "hero-name code-svg"
        "hero-titles code-svg"; 
}
.hero-name { grid-area: hero-name; }
.hero-titles { grid-area: hero-titles; }
.code-svg { grid-area: code-svg; }




